ACTION=="remove", GOTO="leetmouse_end"
ACTION=="add", SUBSYSTEMS=="usb|input|hid", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="02", RUN+="/etc/udev/leetmouse_bind leetmouse %k"
LABEL="leetmouse_end"
